<a href="https://colab.research.google.com/github/superlui04/SLD-Python/blob/main/Intro_to_Python_Workshop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics Workshop

# New Section

## Important!! Please make a copy from this version to your own Google Colab.
File >> Save a Copy in Drive

## Commonly used shortcuts in Notebook -> save time!
* Esc + a -> create a new cell above
* Esc + b -> create a new cell below
* Shift + enter (return) -> run cell
* Shift + Tab -> check the properties and variables for a function

For more complete list: https://towardsdatascience.com/jypyter-notebook-shortcuts-bf0101a98330

## This is a Markdown

In [ ]:
# Markdown

In [ ]:
print('Hello')

Hello

In [ ]:
# This is single line comment in code cell

In [ ]:
s = {1,2,2,4,5,6}
s

## Fundamentals

### Numbers


*   Integer (whole number)
*   Float (decimal number)

In [ ]:
1 #this is integer

1

In [ ]:
1.534 #this is float

1.534

In [ ]:
type(1)

int

In [ ]:
type(1.534)

float

### Variable Assignment

Rules for Python variables:
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
# Can not start with number or special characters, no space allowed
name_of_var = 2

In [ ]:
x = 2
y = 3

In [ ]:
z = x + y

In [ ]:
z

5

### Strings

In [ ]:
'single quotes'

'single quotes'

In [ ]:
"double quotes"

'double quotes'

In [ ]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

In [ ]:
word = 'Hello Python!'
word.split()

['Hello', 'Python!']

In [ ]:
type(word)

str

In [ ]:
print('''
This is
for
multiple
lines
''')

This is
for
multiple
lines

### Booleans

In [ ]:
True

True

In [ ]:
False

### Lists
List can contain any and every data types mixed.

#### Creating a list

In [ ]:
[1,2,3]

[1, 2, 3]

In [ ]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [ ]:
ls = list()
ls2 = []

In [ ]:
ls

[]

In [ ]:
ls2

[]

In [ ]:
my_list = ['a','b','c']
my_list

['a', 'b', 'c']

In [ ]:
# List can be used to iterate on the letters in a string.
my_word = list('I love Python')
my_word

['I', ' ', 'l', 'o', 'v', 'e', ' ', 'P', 'y', 't', 'h', 'o', 'n']

In [ ]:
my_word = 'I love Python'
my_word.split() #will return a list with separated word. Delimiter by default is ' '

['I', 'love', 'Python']

#### Reading and slicing from a list

*  list[start:end:step]
*  index starts from 0 in Python.
*  Remember that start is inclusive and end is exclusive. This applies to everywhere in Python for slicing.

In [ ]:
my_list[0] #this calls the first element of my_list

'a'

In [ ]:
my_list[1] #this calls second element of my_list

'b'

In [ ]:
my_list[1:] #this calls second element and thereafter

['b', 'c']

In [ ]:
my_list[:1] #this calls all the elements up to before index 1

['a']

In [ ]:
my_word = 'I love Python'
my_word

'I love Python'

In [ ]:
my_word[-3:-1]

'ho'

In [ ]:
nest = [1,2,3,[4,5,['target']]]

In [ ]:
nest[3]

[4, 5, ['target']]

In [ ]:
nest[3][2]

['target']

In [ ]:
nest[3][2][0]

'target'

#### Updating List
*   list[index] = new_value
*   list.append() to add additional element
*   list.extend() to unpack and add into the list

In [ ]:
my_list[0] = 'NEW'
my_list

['NEW', 'b', 'c']

In [ ]:
my_list.append('d')
my_list

['NEW', 'b', 'c', 'd']

In [ ]:
my_list.append(['a','b'])
my_list

['NEW', 'b', 'c', 'd', ['a', 'b']]

In [ ]:
my_list.extend(['x','y'])
my_list

['NEW', 'b', 'c', 'd', ['a', 'b'], 'x', 'y']

#### Deleting Element in List
*   list.pop()
*   list.remove()

In [ ]:
my_list.pop(0) #return the deleted element and remove it from the list.

'NEW'

In [ ]:
my_list

['b', 'c', 'd', ['a', 'b'], 'x', 'y']

In [ ]:
my_list.remove('d') #remove element by explicitly mentioning in the method

In [ ]:
my_list

['b', 'c', ['a', 'b'], 'x', 'y']

### Dictionaries

#### Creating Dictionary

In [ ]:
d = {'key1':'item1',
     'key2':'item2'}
d

{'key1': 'item1', 'key2': 'item2'}

#### Reading from Dictionary
*   dict['key']
*   dict.keys()
*   dict.values()

In [ ]:
d['key1']

'item1'

In [ ]:
d.keys()

dict_keys(['key1', 'key2'])

In [ ]:
d.values()

dict_values(['item1', 'item2'])

#### Update Dictionary

In [ ]:
d['key3']= 'item3' # adding extra key value pair
d

{'key1': 'item1', 'key2': 'item2', 'key3': 'item3'}

In [ ]:
d['key1']='item1_mod' #changing value for key1
d

{'key1': 'item1_mod', 'key2': 'item2', 'key3': 'item3'}

#### Delete Dictionary Element

In [ ]:
del d['key1']

In [ ]:
d

{'key2': 'item2', 'key3': 'item3'}

### Tuples
This container is immutable. Meaning once created, items cannot be modified or updated.

#### Creating Tuples

In [ ]:
t = (1,2,3) # using () for creation.

#### Reading from Tuples

In [ ]:
t[0]

1

In [ ]:
t[0] = 'NEW'

TypeError: ignored

#### Delete Tuples

In [ ]:
del t

### Sets
This container is to get the unique value from the elements.

#### Creating Sets

In [ ]:
s = {1,2,3} # using {} for creation
s

{1, 2, 3}

In [ ]:
s = {1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}
s

{1, 2, 3}

In [ ]:
s=set(list('I love you'))
s

{' ', 'I', 'e', 'l', 'o', 'u', 'v', 'y'}

#### Reading Sets

In [ ]:
list(s)[0]

'o'

#### Delete Sets

In [ ]:
del s

italicised text## Commonly Used Built-in Functions

### print()

In [ ]:
x = 'hello'

In [ ]:
print(x)

2

In [ ]:
num = 12
name = 'Sam'

In [ ]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [ ]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

In [ ]:
age = 6
print(f'She Loves Data is {age} years young')

She Loves Data is 6 years young

In [ ]:
print(
'''
Oh my gosh!
I discover
my love for Python
'''
)
print(
"""
This is another
declaration of my
love with Python
"""
)

Oh my gosh!
I discover
my love for Python


This is another
declaration of my
love with Python

### type()

In [ ]:
type(my_list)

list

In [ ]:
type('s')

str

In [ ]:
type(1)

int

In [ ]:
type(1.5)

float

### range()
range(start, end, step) to automatically generate ordered numbers based on specified parameters.

In [ ]:
list(range(0,4,2))

[0, 2]

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

### len()
len(object) is to know number of items in the object

In [ ]:
type([1,2,3])

list

In [ ]:
len([1,2,3])

3

In [ ]:
len([1,[1,2]])

2

In [ ]:
ls= [1,[1,2]]
len(ls[1])

2


#Lab Exercise #1

In [ ]:
list('She Loves Data')

['S', 'h', 'e', ' ', 'L', 'o', 'v', 'e', 's', ' ', 'D', 'a', 't', 'a']

In [ ]:
#Extract Love from She Loves Data string.
word='She Loves Data'
new_word=word.split()
new_word [1][:4]

'Love'

In [ ]:
#Extract Love from She Loves Data string.
word = 'She Loves Data'
# type your code here
string = word.split()[1]
list(string)
string[0:4]

'Love'

In [ ]:
#How do we extract Robert's history grade?
dictionary = {'Robert':
              {'mathematics':'A',
               'history':'C+',
               'physics': 'B'},
              'Suzie':
              {'mathematics':'A+',
               'history':'B+',
               'physics': 'A-'}
              }
#type your code here

In [ ]:
dictionary['Robert'] ['history']

'C+'

In [ ]:
#Given following variable, how do I output following?
# When x is 2, x+2 is 4.
x = 2
y = x + 2
print(f'When x is {x}, x+2 is {y}.')

When x is 2, x+2 is 4.

In [ ]:
x = 2
y = x + 2
print('When x is {}, x+2 is {}'.format(x, y))

When x is 2, x+2 is 4

In [ ]:
#Challenge question: How to reverse all the letters in the word?
word = 'I love Python'
#expected result: nohtyP evol I
#type your code here

In [ ]:
list(word)
# incomplete

['I', ' ', 'l', 'o', 'v', 'e', ' ', 'P', 'y', 't', 'h', 'o', 'n']

# Operators

## Arithmetic Operators

In [ ]:
1 + 2

3

In [ ]:
#power
2 ** 4

16

In [ ]:
4 % 2 #modulo, returning remainder. Commonly used in checking divisibility

0

In [ ]:
5 % 2

1

In [ ]:
(2 + 3) * (5 + 5)

50

In [ ]:
5//2 #returns the smallest integer

2

## Comparison Operators

In [ ]:
1 > 2

False

In [ ]:
1 < 2

True

In [ ]:
1 >= 1

True

In [ ]:
1 <= 4

True

In [ ]:
1 == 1

True

In [ ]:
'hi' == 'bye'

## Logic Operators
This is mainly used to check on condition(s) for control flows.

In [ ]:
(1 > 2) and (2 < 3)

False

In [ ]:
(1 > 2) or (2 < 3)

True

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

True

In [ ]:
not(1 == 1)

False

#Lab Exercise #2

In [ ]:
birth_year = 1988
this_year = 2022

### Type your code here...
# calculate the age
age=this_year-birth_year
print(age)

34

In [ ]:
# Is it true that my age is now 30 years old? How do I write in Python?

# your code here...
age==30

False

In [ ]:
#How do I check if 843 is divisible by 9?

#type your code here
if 843 % 9 == 0:
    print('True')
else:
    print('False')

False

# ================= Part 2 ===================

# Control Flows

## if,elif, else Statements

In [ ]:
a = 15

b = 20

if a < b:
  print('A is lesser than B')

A is lesser than B

In [ ]:
if a > b:
    print('A is greater than B')
else:
    print('A is lesser than B')

A is lesser than B

In [ ]:
if a > b:
    print('A is greater than B')
elif a == b:
    print('A is equal to B')
else:
    print('A is lesser than B')

A is lesser than B

## for Loops

In [ ]:
seq = [1,2,3,4,5]

In [ ]:
for item in seq:
    print(item)

1
2
3
4
5

In [ ]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [ ]:
for item in seq:
    print(item+item)

2
4
6
8
10

In [ ]:
#It can iterate over a list as well

weekdays = ["Monday", "Tuesday", "Wednesday","Thursday","Friday"]
for i in weekdays:
  print(i)

Monday
Tuesday
Wednesday
Thursday
Friday

In [ ]:
#Looping through String

for i in "python":
  print(i)

p
y
t
h
o
n

## while Loops

In [ ]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

#Lab Exercise #3

In [ ]:
#1. Resolve error

a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [ ]:
# 2. Make a program that lists the months in the list below using a while loop.
mlist = ["January","February","March","April"]

In [ ]:
#3. Make a program to print even numbers till 100

# Functions
Indentation matters!

In [ ]:
def my_first_function():
  print("This is my first python function")

In [ ]:
my_first_function()

This is my first python function

In [ ]:
def my_second_function(fname):
  print("Data " + fname)

In [ ]:
my_second_function("Analytics")

Data Analytics

In [ ]:
my_second_function("Science")

Data Science

In [ ]:
def square(x):
    return x**2

In [ ]:
print(square(4))

16

In [ ]:
print(square(5))

25

In [ ]:
#Difference between functions that return vs print.
def function_that_prints():
    print('This function prints')

def function_that_returns():
    return 'This function returns'

f1 = function_that_prints()
f2 = function_that_returns()
print ("Let's us see what the values of f1 and f2 are:")
print(f1)
print(f2)

This function prints
Let's us see what the values of f1 and f2 are:
None
This function returns

# Error Handling

In [ ]:
a = 100 / 0
print (a)

ZeroDivisionError: ignored

In [ ]:
print(ans)

NameError: ignored

In [ ]:
  a = 5
  b = "DataCamp"
  c = a + b

TypeError: ignored

In [ ]:
print (float('DataCamp'))

ValueError: ignored

In [ ]:
def my_first_function():
print("This is my first python function")

IndentationError: ignored

#Lab Exercise #4

In [ ]:
#1. Create and call a function which takes a parameter of text and prints/output it -
# Expected result of my_func("I love Python")
#'I love Python'

In [ ]:
#2. Create a function which returns the sum of 2 values.
#   Sample Code below -

def my_sum_func(x,y):
  <your_code_here> = x+y
  return <your_code_here>

print(<your code here>)

# Lab Exercise Answers

## Lab Exercise #1

In [ ]:
#Extract Love from She Loves Data string.
word = 'She Loves Data'
# type your code here
# word[4:7+1]
word.split()[1][0:3+1]
# word.split()[1][:4]

'Love'

In [ ]:
#How do we extract Robert's history grade?
dictionary = {'Robert':
              {'mathematics':'A',
               'history':'C+',
               'physics': 'B'},
              'Suzie':
              {'mathematics':'A+',
               'history':'B+',
               'physics': 'A-'}
              }
#type your code here
dictionary['Robert']['history']

'C+'

In [ ]:
#Given following variable, how do I output following?
# When x is 2, x+2 is 4.
x = 4
#type your code here
print('When x is {}, x+2 is {}'.format(x,x+2))

When x is 4, x+2 is 6

In [ ]:
#Challenge question: How to reverse all the letters in the word?
word = 'I love Python'
#expected result: nohtyP evol I
#type your code here
word[::-1]

'nohtyP evol I'

## Lab Exercise #2

In [ ]:
birth_year = 1988
this_year = 2022

### Type your code here...
# calculate the age
this_year - birth_year

34

In [ ]:
# Is it true that my age is now 30 years old? How do I write in Python?

# your code here...
my_age = 38
my_age == 30

False

In [ ]:
#How do I check if 843 is divisible by 9?

#type your code here
(843 % 9) == 0

False

In [ ]:
843/9

93.66666666666667

## Lab Exercise #3

In [ ]:
#1. Resolve error

a = 33
b = 200
if b > a:
  print("b is greater than a")

In [ ]:
# 2. Make a program that lists the months in the set below using a while loop.
mlist = ["January","February","March","April"]
# i=0
# while i < len(mlist):
#   print(mlist[i])
#   i+=1
for ele in mlist:
  print(ele)

January
February
March
April

In [ ]:
#3. Make a program to print even numbers till 100
for i in range(101):
  if i % 2 == 0:
    print(i)

#OR

for i in range(0,101,2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

## Lab Exercise #4

In [ ]:
#1. Create and call a function which takes a parameter of text and prints/output it -
# Expected result of my_func("I love Python")
#'I love Python'
def my_print(some_word):
  print(some_word)

my_print('This is Saturday')

This is Saturday

In [ ]:
#2. Create a function which returns the sum of 2 values.
#   Sample Code below -

def my_sum_func(a,b):
  return a+b

my_sum_func(5,6)

11

# Bonus (if time allows)

## Exception Handling

In [ ]:
'''
try:
    a = 100 / 0
    print (a)
except ZeroDivisionError:
        print ("Zero Division Exception Raised." )
else:
    print ("Success, no error!")
'''

Zero Division Exception Raised.

In [ ]:
try:
    print (ans)
except NameError:
    print ("NameError: name 'ans' is not defined")
else:
    print ("Success, no error!")

NameError: name 'ans' is not defined

In [ ]:
try:
    a = 5
    b = "DataCamp"
    c = a + b
except TypeError:
    print ('TypeError Exception Raised')
else:
    print ('Success, no error!')

TypeError Exception Raised

In [ ]:
try:
    print (float('DataCamp'))
except ValueError:
    print ('ValueError: could not convert string to float: \'DataCamp\'')
else:
    print ('Success, no error!')

ValueError: could not convert string to float: 'DataCamp'

## lambda expressions

In [ ]:
def times2(var):
    return var*2

In [ ]:
times2(2)

In [ ]:
lambda var: var*2

## methods

Method is a function which belongs to an object.

Syntax: [object].method()

Function syntax: func([object] or parameters)

In [ ]:
st = 'hello my name is Sam'

In [ ]:
st.lower()

In [ ]:
st.upper()

In [ ]:
st.split()

In [ ]:
tweet = 'Go Sports! #Sports'

In [ ]:
tweet.split('#')

In [ ]:
tweet.split('#')[1]

In [ ]:
d

In [ ]:
d.keys()

In [ ]:
d.items()

In [ ]:
lst = [1,2,3]

In [ ]:
lst.pop()

In [ ]:
lst

In [ ]:
'x' in [1,2,3]

In [ ]:
'x' in ['x','y','z']

In [ ]:
x = ['a b', 'c d']
for i in x:
    i.split()
print(x)

['a b', 'c d']

In [ ]:
D={'Maria': {'Age':30, 'Gender':'F'},    'Daniel': {'Age':24, 'Gender':'M'}   }
D['Maria']['Age']

30